<h1>Listing orders</h1>
<%= render "orders/search" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Interval</th>
      <th>Order ID.</th>
      <th>Customer</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
      	<td><%= order.interval.detail %></td>
      	<td><%= order.id %></td>
        <td><%= order.customer %></td>
        <td><%= order.quantity %></td>
        <td class="text-right"><%= number_format(order.total) %></td>
        <td class="text-right"><%= number_format(order.fee) %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
