<!DOCTYPE html>
<html>
	<head>
		<title>MyShop</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="row">

				<div class="col-md-12">

					<table class="table">
						<thead></thead>
						<tbody>
							<tr>
								<td><%= product_image_tag @product %></td>
								<td>
								<ul class="list-group">
									<li class="list-group-item">
										<p>
											<strong>Code:</strong>
											<%= @product.code %>
										</p>
									</li>
									<li class="list-group-item">
										<p>
											<strong>Name:</strong>
											<%= @product.name %>
										</p>
									</li>
									<li class="list-group-item">
										<p>
											<strong>Description:</strong>
											<%= @product.description %>
										</p>
									</li>
									<li class="list-group-item">
										<p>
											<strong>Volume:</strong>
											<%= @product.volume %>
										</p>
									</li>
									<li class="list-group-item">
										<p>
											<strong>Mk price:</strong>
											<%= @product.mk_price %>
										</p>
									</li>
									<li class="list-group-item">
										<p>
											<strong>Sp price:</strong>
											<%= @product.sp_price %>
										</p>
									</li>

								</ul></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</body>
</html>

